<div class="jumbotron">
  <br>
  <br>
  <h1>Discover one-of-a-kind artwork from 
      artists worldwide.</h1>
  <h3>Curated and authentic.</h3>
</div>

<div class="center">
  <div class="row">
    <% @listings.each do |listing| %>
      <div class="col-md-3">
        <div class="thumbnail">
          <%= link_to image_tag(listing.image.url), listing %>
          <div class="caption">
            <h3><%= listing.name %></h3>
            <p><%= number_to_currency(listing.price) %></p>
            <p><%= "Offered by #{listing.user.name}" %></p>
            
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>    


<br>

